@import 'mixins.scss';

@keyframes HOVER {
    0% {
        background:black;
    }
    50% {
        background:rgba(255, 255, 255, 0.5);
    }
    100% {
        background:black;
    }
}
header {
    width:100%;
    @include noSelect;
    @include CENTRAL_V;
    height:50px;
    background:black;
    top:0;
    position:fixed;
    justify-content: space-between;
    padding: 0 15px;
    .left-content {
        a[class='logo'] {
            text-decoration: none;
            height:50px;
            width:50px;
            padding:10px;
            @include CENTRAL_BOTH;
            border-radius: 50%;
            cursor:pointer;
            svg {
                width:20px;
                height:20px;
            }
        }
        a[class='logo']:hover {
            background:red;
            animation: HOVER 2s linear infinite;
        }
    }
    .right-content {
        height: 50px;
        padding:5px 15px;
        text-align: center;
        color:white;
        font-size:15px;
        .username:hover {
            transform:translateY(2px);
            box-shadow:0 0 20px rgb(255, 255, 255);
        }
        .username {
            border-radius: 10px;
            background-color: white;
            color:black;
            cursor:pointer;
            height:40px;
            min-width: 100px;
            @include CENTRAL_BOTH;
        }
        .dropdown {
            display:none;
            flex-direction: column; 
            background:white;
            position:absolute; 
            color:black;
            border-radius:10px;
            margin-left: 3px;
            margin-top: 1px;
            border:1px solid lightgray;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            overflow:hidden;
            button, a {
                 width:100%;
                 padding: 10px;
                 color:black;
                 background-color: white;
                 color:black; 
                 display: flex;
                 gap:5px;
                 text-decoration: none;
                 cursor: pointer;
                 box-shadow: none;
                 border:none;
                 border-radius:0;
                 font-size:13px;
            }
            button:hover, a:hover {
                 background: lightgray;
            }
        }
    }
    .right-content:hover {
        .dropdown {
            display: flex;
        }
    } 
}
